
        <div class="col mt-5" *ngIf="refund.refundedClient && refund.observation">
            <div class="card auth-detailblock">
              <div class="card-header">
                <div class="row g-3">
                  <div class="row d-flex justify-content-center my-4">
                    <h1 class="mb-0 fw-bold text-success text-center">
                      Detalle de Devolucion
                    </h1>
                  </div>
  
                  <div class="col-6">
                    <label class="form-label col-6 col-sm-5">Cliente:</label>
                    <span>  {{ refund.refundedClient.person.name }}
                      {{ refund.refundedClient.person.surname }}</span>
                  </div>
                  <div class="col-6">
                    <label class="form-label col-6 col-sm-5">Observación:</label>
                    <span>{{ refund.observation }}</span>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <app-table-refund-detail [refundDetails]="refund.refundDetails"></app-table-refund-detail>
              </div>
              <div class="card-footer" *ngIf="!refund?.id"> 
               
  
                <div>
                  <button
                    type="button"
                    name="editar"
                    class="btn btn-dark w-100"
                    (click)="procesar()"
                  >
                    Confirmar
                  </button>
                </div>
              </div>
            </div>
          </div>