
<table
id="myProjectTable"
class="table table-hover align-middle mb-0"
style="width: 100%"
>
<thead>
  <tr>
    <th>id</th>
    <th>Book Nombre</th>
    <th>Book ISBN</th>
    <th>Año</th>
    <th  *ngIf="buttons.length>0">Acciones</th>
  </tr>
</thead>
<tbody>
  <tr></tr>
  <tr *ngFor="let loanDetail of loanDetails">
    <td class="cursor-pointer-g">{{ loanDetail.id }}</td>
    <td>{{ loanDetail.book.name }}</td>
    <td>{{ loanDetail.book.isbn }}</td>
    <td>{{ loanDetail.book.publicationYear }}</td>
    <td *ngIf="buttons.length>0">      
      <button *ngFor="let btn of buttons" type="button" [class]="btn.class"
      (click)="onClickButtonSelect(loanDetail,btn.action); $event.stopPropagation()"
      >{{btn.name}}</button>
    </td>
  </tr>
</tbody>
</table>