<!--
  VALIDATOR EN EL FORMULARIO
  https://angular.io/api/forms/Validators
--> 
<div class="container">
  <div class="alert alert-danger" *ngIf="errores">
    <h1 class="">ERROR EN EL INGRESO DE DATOS</h1>
    <div class="text-danger" *ngFor="let err of errores | keyvalue">
      Campo '<b >{{ err.key }} </b>':
        {{ err.value }}
    </div>
  </div>
  <div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
      <form #validForm="ngForm">
        <!--Nombre-->
        <div class="form-group row my-5">
          <label for="" class="col-form-label col-sm-2">Nombre</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="author.name"
              name="nombre"
              #nombre="ngModel"
              required
              minlength="1"
            />
            <div
              class="alert alert-danger"
              *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
            >
              <div *ngIf="nombre.errors.required">
                El campo 'Nombre'es Requerido
              </div>
              <div *ngIf="nombre.errors.minlength">
                El Campo Nombre debe tener mínimo 3 caracteres
              </div>
            </div>
          </div>
        </div>
         <!--Nacionalidad-->
         <div class="form-group row my-5">
          <label for="" class="col-form-label col-sm-2">Nacionalidd</label>
          <div class="col-sm-6">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="author.nationality"
              name="nacionaliad"
              #nacionaliad="ngModel"
              required
              minlength="1"
            />
            <div
              class="alert alert-danger"
              *ngIf="nacionaliad.invalid && (nacionaliad.dirty || nacionaliad.touched)"
            >
              <div *ngIf="nacionaliad.errors.required">
                El campo 'Nacionalidd' es Requerido
              </div>
              <div *ngIf="nacionaliad.errors.minlength">
                El Campo 'Nacionalidd' debe tener mínimo 3 caracteres
              </div>
            </div>
          </div>
        </div>
        <!--Botones-->
        <div class="form-group row">
          <div class="col-sm-6">
            <button
              class="btn btn-primary"
              role="button"
              (click)="create()"
              *ngIf="!author.id; else elseBlock"
              [disabled]="!validForm.form.valid"
            >
              Registrar
            </button>
            <ng-template #elseBlock>
              <button
                class="btn btn-primary"
                role="button"
                (click)="update()"
                [disabled]="!validForm.form.valid"
              >
                Actualizar
              </button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
